<% if @user.errors.any? %>
	<% @user.errors.full_messages.each do |message|%>
		<%= message%><br>
	<%end%>	
<% end %><br>

<%= @error if @error %><br>

<form class="changepw" action="/users/<%=@user.id%>/passwordchange" method="POST">
	<input type="hidden" name="_method" value="patch">
	<label>Current Password: </label>
	<input type="password" name="password"><br>
	<label>Confirm Current Password: </label>
	<input type="password" name="password_confirmation"><br>
	<label>New Password: </label>
	<input type="password" name="newpassword"><br>
	<label>Confirm New Password: </label>
	<input type="password" name="newpassword_confirmation"><br>	
	<input type="submit" value="Update">
</for